footer{
  height: 100px;
  width: 100%;
  background-color: gray;
}
.footer-div {
  background-color: #F3F3F3;
  padding-top: 10px;
  padding-bottom: 0px;
  position:fixed;
  bottom:0;
  width:100%;
}