.errors{
  color: red;
}

.pwd-container {
  position: relative;
  width: 295px;
 
}

.pwd-input {
  padding: 5px 30px 5px 10px;
  font-size: 20px;
  //  position: relative;
 
}

.svg-img {
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 8%;
  top: 61%;
}
