/* No CSS */

.app-container {
  position: relative;
  min-height: 100vh;
}

.footer-padding-admin {
  padding-bottom: 341px;
}

.footer-padding-guide {
  padding-bottom: 56px;
}

@media screen and (max-width: 600px) {
  .footer-padding-admin {
    padding-bottom: 500px;
  }
}
