// base
@import "base/root";
@import "base/reset";
@import "base/typography";

// GLOBALS
@import "functions";
@import "components/utilities";

// PAGES
@import "sections/header";
@import "sections/home__a";
@import "sections/home__b";
@import "sections/home__c";
@import "sections/home__d";
@import "sections/home__e";
@import "sections/home__f";
@import "sections/footer";

// VARIABLES
@import "variables/colors";
@import "variables/variables";
@import "variables/aligns";

// MEDIA QUERIESs
@import "media";

// COMPONENTS
@import "components/menu";
@import "components/buttons";
@import "components/forms";
@import "components/icons";
@import "components/decorations";

//
@import "example";
