// colors
$primary-color: #a5243d; // darkred
$menu-background: $primary-color; // darkred
$menu-item: #cee0dc; // lavanda
$menu-item-hover: #afaab9; // silver metallic
// B9CFD4 // columbia blue
// CEE0DC // light cyan
// #afaab9; // silver metallic
// #b48291; // lavanda

// BTNS COLORS
$light-blue: rgb(142, 194, 242);
$light-blue-text: rgb(255, 255, 255);
$light-blue-hover: rgb(44, 100, 153);
$light-blue-text-norm: rgb(21, 65, 105);
$light-blue-text-hover: rgb(153, 200, 243);

$outline-light-blue: rgba(255, 255, 255, 0.4);
$outline-light-blue-text: rgb(42, 124, 199);

$yellow: rgba(255, 166, 43, 1);
$yellow-text: rgb(255, 255, 255);

// PAGES

$footer: rgb(37, 43, 66);
$footer-bottom: rgb(142, 194, 242);
